<script>
    let cloneEl = null
    let originalEl = null
    document.querySelectorAll(`img`).forEach((elem) => {
        elem.addEventListener('click', function (e) {
            e.preventDefault()
            originalEl = e.target // 缓存原始图DOM节点
            cloneEl = originalEl.cloneNode(true) // 克隆图片
            originalEl.style.opacity = 0
            openPreview() // 打开预览
        })
    })

    function openPreview() {
        // 创建蒙层
        const mask = document.createElement('div')
        mask.classList.add('imgView')
        // 添加在body下
        document.body.appendChild(mask)
        // 注册蒙层的点击事件，关闭弹窗
        const clickFunc = function () {
            document.body.removeChild(this)
            originalEl.style.opacity = 1
            mask.removeEventListener('click', clickFunc)
        }
        mask.addEventListener("click", clickFunc)
        mask.appendChild(cloneEl) // 添加图片
    }

    // 用于修改样式的工具类，并且可以减少回流重绘，后面代码中会频繁用到
    function changeStyle(el, arr) {
        const original = el.style.cssText.split(';')
        original.pop()
        el.style.cssText = original.concat(arr).join(';') + ';'
    }
</script>
<style>
    .imgView {
        touch-action: none;
        user-select: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .imgView>img {
        position: absolute;
        padding: 0;
        margin: 0;
        transform: translateZ(0);
    }
</style>